<aside class="highlight">
  <h3>Neue Tutorials</h3>
  <ul>
      <li>Node.js Der schnelle Einstieg, 28 Sep. 2025 - Dauer: 1 Std 58 Min.</li>
      <li>Angular Grundkurs 1: Das Ökosystem 29.Aug. 2025 - Dauer: 1 Std 5 Min.</li>
  </ul>
</aside>