<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="utf-8">
    <title>Dadtorials</title>
    <link rel="stylesheet" href="http://localhost:8020/css/styles.css" type="text/css">
    <link rel="stylesheet" href="http://localhost:8020/css/flexbox.css" type="text/css">
    <link rel="stylesheet" href="http://localhost:8020/css/tiles.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <%- include('header.ejs'); %>
    <div id="maincontainer">
        <main>
            <form action="http://localhost:8844/" method="get">
                <label for="search">Suche:</label>
                <input name="search" type="text" id="search" minlength="4" maxlength="20" placeholder="Tutorial suche"
                    pattern="[A-Z]+[A-Za-z ]*" required>
                <input type="submit">
            </form>
          <section>
            <h3>Die angeforderte Seite wurde nicht gefunden!</h3>
          </section>
        </main>
        <%- include('aside.ejs'); %>
    </div>
    <%- include('footer.ejs'); %>
</body>

</html>