<header>
  <img src="http://localhost:8020/img/TLogoNew.jpeg" alt="Logo Dadtorials" height="50" width="50">
  <a href="/"><h1>Dadtorials</h1></a>
  <nav class="highlight menu">
      <button class="burger-menu" onclick="burger()">
          <span class="burger-icon"></span>
      </button>
      <ul>
      <li><a class="media" href="/">Liste der Kategorien</a></li>
      <li><a class="media" href="form">Neues Tutorial erstellen</a></li>
      </ul>
      <script src="http://localhost:8020/js/burgermenu.js"></script>
  </nav>
</header>